<form action="/create/" method="post" >    
    <table>
        <tr><th><label for="id_call">Call:</label></th><td><input id="id_call" maxlength="500" name="call" type="text" /></td></tr>
        <tr><th><label for="id_project">Project:</label></th><td><input id="id_project" maxlength="500" name="project" type="text" /></td></tr>
        <tr><th><label for="id_agent">Agent:</label></th><td><input id="id_agent" maxlength="500" name="agent" type="text" /></td></tr>
        <tr><th><label for="id_value">Value:</label></th><td><input id="id_value" name="value" type="text" /></td></tr>

        
    </table>
    <input type="submit" value="Submit" data-role="button" data-theme="a" data-icon="check" data-iconpos="right"/>

</form> 
